.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #B9DEA4;
}

.filler {
  background: #CFCFCF;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}